@import "../../lib/vars.scss";

.card {
  background-color: $lightBrown;
  //   text-align: center;
  margin: $gutter;
  // padding-bottom: 30px;

  .card-text {
    margin-bottom: 0;
  }
  .card-body {
    background-color: $lightBrown;
    display: flex;
    height: 100%;
  }
  .card-footer {
    background-color: $lightBrown;
  }
}
