header {
  background: tan;
  color: rgb(124, 71, 47);
  height: 8vw;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: 800;
  margin-bottom: 2vh;
}
