footer {
  background-color: tan;
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #444;
}

a:link {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: rgb(124, 71, 47);
}

a:hover {
  color: orange;
}
